<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A breach associated with <%= @org.name %> has occurred. More information is
      available through
      <a href="http://www.unhactivate.com">Unhactivate</a>.
    </p>
  </body>
</html>
