<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= link_to breach.title, breach %> <%= breach.breach_date.strftime('(%B %d, %Y)') %>
    </h3>
  </div>
  <div class="panel-body">
    <p><%= simple_format(breach.description.truncate_words(40)) %></p>
  </div>
</div>
