<div>

  <div class="col-md-6">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>Monitor Breaches That Might Affect You</h2>
      </div>

      <div class="input-group panel-body">
        <input type="text" class="form-control" placeholder="Search for breaches">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Doesn't Work</button>
        </span>
      </div><!-- /input-group -->

    </div>

    <div>
      <h2>Recent Breaches</h2>

      <% @recent_breaches.each do |breach| %>
        <%= render partial: "breaches/abstract", locals: {breach: breach} %>
      <% end %>

    </div>

  </div>

  <div class="col-md-6">

    <%= render partial: "devise/registrations/signup" if not current_user %>

    <div class="panel panel-info">

      <div class="panel-heading">
        <h2 class="panel-title">Learn How to Protect Your Information</h2>
      </div>

      <div class="panel-body">
        <% @articles.each do |article| %>

          <%= render partial: "articles/teaser", locals: {article: article} %>

        <% end %>
      </div>

    </div>

    <% if current_user.try(:admin?) %>
      <div class="admin">
        <h3>'ello, Gov'na!</h3>

        <p><%= link_to 'You can input new security breaches into the system!', new_breach_path %></p>

      </div>
    <% end %>

  </div>

</div>
