/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  background-color: #34C7ED;
}

// body { // FIXME don't think we need this anymore
//   padding-bottom: 70px; // added for fixed navbar overlay issue
// }

.terms-link {
  text-decoration: underline;
  cursor: pointer;
}

.panel-primary > .panel-heading {
  background-color: #912105;
}

.panel-primary{
  border-color: #912105;
}

.panel-info > .panel-heading {
  background-color: #307221;
  color: #fff;
}

.panel-info{
  border-color: #307221;
}

.navbar-fixed-top .navbar-nav li > a {
    color: #912105;
    font-size: 2rem;
}

.navbar-form > .btn {
    color: #fff;
    background: #307221;
}
