// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style: none;
  display: inline;
  padding-left: 1em;
}

.terms {
  background: lemonchiffon;
  display: none;
  position: fixed;
  top: 20%;
  height: 50%;
  margin: 0 auto;
  width: 50%;
  overflow: scroll;
  left: 0;
  right: 0;
  padding: 2rem;
}

.terms-link {
  text-decoration: underline;
  cursor: pointer;
}

.close-terms {
  float: right;
  cursor: pointer;
}
